.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  z-index: 99999;
  background: #fff;
  padding: 10px;
  border: thick double black;
  border-radius: 5px;
  font-family: sans-serif;
}

.progress {
  width: 40%;
}

.confirmation {
  text-align: center;
}

@media screen and (max-device-width: 600px){
  .confirmation {
    width: 90%;
  }
}

.confirmation pre {
  white-space: break-spaces;
  word-break: break-all;
}
