.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.modal {
  position: absolute;
  left: 50%;
  max-width: 80%;
  transform: translateX(-50%);
  z-index: 99999;
  background: #fff;
  padding: 20px;
  border: thick double black;
  border-radius: 5px;
  font-family: sans-serif;
  top: 50px;  
}

.progress {
  width: 30%;
}

.overflow {
  overflow: auto;
}